@model HelloASP.NET.Models.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Employee Details</h2>
<table>
    <tr>
        <td>
            ID
        </td>
        <td>
            @Model.id
        </td>
    </tr>
    <tr>
        <td>
            Name
        </td>
        <td>
            @Model.name
        </td>
    </tr>
    <tr>
        <td>
            Gender
        </td>
        <td>
            @Model.gender
        </td>
    </tr>
    <tr>
        <td>
            City
        </td>
        <td>
            @Model.city
        </td>
    </tr>
</table>

